* {
    box-sizing: border-box;
  }

  body{
    background-color: #ccd7f2;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header section========================================================*/
  .header-page{
    max-width: 700px;
    min-width: 600px;
    width: 100%;

    min-height: 50px;
    margin: 0 auto;
    background-color: #ffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    box-shadow: 0 0 10px #94b8ff;
  }

  .header-page-container{
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
  }

  .head-line{
    color: black;
    font-size: 25px;
    font-weight: 500;
  }

  .pic-cloud,
  .pic-sun{
    font-size: 30px;
    text-decoration: none;
  }

  .pic-cloud{
    color: #dddfde;
    transition: 0.2s;
  }
  
  .pic-cloud:hover{
    color: #94b8ff;
  }

  .pic-sun{
    color: #e5bf2f;
    transition: 0.2s;
  }

  .pic-sun:hover{
    color: gold;
  }

  .speedBtn,
  .tempunitBtn{
    font-size: 19px;
    color: black;
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    transition: 0.5s;
  }

  .tempunitBtn:hover{
    font-size: 19px;
    color: black;
    background-color: #94b8ff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
  }

  .speedBtn:hover{
    font-size: 19px;
    color: black;
    background-color: #94b8ff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
  }

  .real-time{
    background-color: #ffff;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
  }


  /* Main section========================================================*/

  .main-page{
    max-width: 700px;
    min-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .after-head-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .temperatura-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* slider ==================================================================================*/
 .sliderWrapper{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.sliderImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.prevBnt, .nextbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff7;
  transition: 0.1s linear background-color;

  font-size: 20px;
  text-align: center;
}

.prevBnt:hover, .nextbtn:hover{
  background-color: #fffa;
}

.prevBnt{
  left: 10px;
}

.nextbtn{
  right: 10px;
}

/* ========================================================================================== */
  .weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0 0 10px #94b8ff;
  }

  .temperatura-container,
  .weather-card{
    background-color: #ffff;
    border-radius: 20px;

  }
  .pic-about-weather{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .temperatura{
    font-size: 20px;
  }

  .speed{
    font-size: 15px;
    color: gray;
  }
  .location{
    font-size: 15px;
  }

  .threedays-main-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }


  .threedays-weather-card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    gap: 5px;

    max-width: 250px;
    min-width: 150px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #94b8ff;
  }

  .contant-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .threedays-pic-about-weather{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .day{
    font-size: 15px;
    font-weight: 600;
  }

  .threedays-speed{
    color: gray;
  }

  /* Footer ============================================================================*/

  .footer-page{
    max-width: 700px;
    min-width: 600px;
    width: 100%;

    margin: 0 auto;
    margin-top: auto;

    background-color: #ffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    box-shadow: 0 0 10px #94b8ff;
  }

  .footer-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
  }

  .link-git-hub,
  .response-message{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
  }

  .link-git-hub:hover,
  .response-message:hover{
    color: #94b8ff;
  }