* {
    box-sizing: border-box;
  }

  body{
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header section========================================================*/
  .header-page{
    max-width: 1000px;
    min-width: 600px;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;

    background-color: #ffff;
    box-shadow: 0 0 10px gray;
  }

  .header-page-container{
    padding: 25px 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
  }

  .head-line{
    color: black;
    font-size: 25px;
    font-weight: 500;
  }

  .zmi-logo{
    height: 65px;
    width: 65px;
    object-fit: cover;
    margin-right: auto;
  }

  .pic-cloud,
  .pic-sun{
    font-size: 30px;
    text-decoration: none;
  }

  .pic-cloud{
    color: #dddfde;
    transition: 0.2s;
  }
  
  .pic-cloud:hover{
    color: #94b8ff;
  }

  .pic-sun{
    color: #e5bf2f;
    transition: 0.2s;
  }

  .pic-sun:hover{
    color: gold;
  }

  .speedBtn,
  .tempunitBtn{
    font-size: 20px;
    color: black;
    background-color: #ffff;
    border: none;
    padding: 5px 5px;
    transition: 0.2s linear background-color;
    box-shadow: 0 0 10px gray;
  }

  .speedBtn:hover,
  .tempunitBtn:hover{
    font-size: 20px;
    color: black;
    background-color: #C0C0C0;
    border: none;
    box-shadow: 0 0 10px gray;
  }

  .real-time{
    background-color: #ffff;
    padding: 5px 5px;
    font-size: 19px;
    font-weight: 500;
    box-shadow: 0 0 10px gray;
    margin-right: auto;
  }


  /* Main section========================================================*/

  .main-page{
    max-width: 1000px;
    min-width: 600px;
    
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .after-head-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .temperatura-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* slider ==================================================================================*/
 .sliderWrapper{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.sliderImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px gray;
}

.prevBnt, .nextbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff7;
  transition: 0.1s linear background-color;

  font-size: 20px;
  text-align: center;
}

.prevBnt:hover, .nextbtn:hover{
  background-color: #fffa;
}

.prevBnt{
  left: 10px;
}

.nextbtn{
  right: 10px;
}

/* ========================================================================================== */
  .weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0 0 10px gray;
  }

  .temperatura-container,
  .weather-card{
    background-color: #ffff;
  }
  .pic-about-weather{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .temperatura{
    font-size: 20px;
  }

  .speed{
    font-size: 17px;
    color: gray;
  }

  .location{
    font-size: 17px;
  }

  .threedays-main-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }


  .threedays-weather-card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 20px;
    gap: 7px;

    max-width: 320px;
    min-width: 150px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px gray;
  }

  .contant-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
  }

  .threedays-pic-about-weather{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .seven-days-date,
  .day{
    font-size: 15px;
    font-weight: 600;
  }

  .seven-days-speed,
  .threedays-speed{
    color: gray;
  }

  .seven-days-main-container{
    display: none;

    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .seven-days-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
  }


  .seven-days-weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    gap: 5px;

    max-width: 250px;
    min-width: 150px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px gray;
  }

  .seven-days-pic-about-weather{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .show-seven-days-weather-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
  }

  .show-seven-days-weather-btn{
    font-size: 18.5px;
    color: black;
    background-color: #ffff;
    border: none;
    padding: 5px 5px;
    transition: 0.2s linear background-color;
    box-shadow: 0 0 10px gray;
  }

  .show-seven-days-weather-btn:hover{
    font-size: 18.5px;
    color: black;
    background-color: #C0C0C0;
    border: none;
    box-shadow: 0 0 10px gray;
  }
  
  /* Footer ============================================================================*/

  .footer-page{
    max-width: 1000px;
    min-width: 600px;
    width: 100%;

    margin: 0 auto;
    margin-top: auto;

    background-color: #ffff;
    box-shadow: 0 0 10px gray;
  }

  .footer-page-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
  }

  .link-git-hub,
  .response-message{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.2s;
  }

  .link-git-hub:hover,
  .response-message:hover{
    color: #C0C0C0;
  }